<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <title>Navbar in Flask</title>
    <style>
      *{
        font-family: Arial, Helvetica, sans-serif;
      }
    </style>
  
  </head>

  <body>
           
    <!-- {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class=flashes>
      {% for category, message in messages %} -->
        <!-- <li class="{{ category }}">{{ message }}</li> -->
      <!-- {% endfor %}
      </ul>
    {% endif %} -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Movie</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
     
        <form class="form-inline my-2 my-lg-0">
       
        </form>
      </div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/carslist">我的電影清單</a>
        </li>
 {% with messages = get_flashed_messages() %} 
  {% if messages %}  
    <li class="nav-item">
      <a class="nav-link" href="/login">登出</a>
    </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="/login">登入</a>
      </li>
      {% endif %} {% endwith %}
        
        <!-- <li class="nav-item">
          <a class="nav-link" href="/login">登入</a>
        </li> -->
        <li></li>
        <li class="nav-item">
          <a class="nav-link" href="/register">註冊</a>
        </li>
      </ul>
    </nav>
    <!-- {% with messages = get_flashed_messages() %} {% if messages %} {% for
      message in messages %}
      <p>{{ message }}</p>
      {% endfor %} {% endif %} {% endwith %} -->



      {% block content %}
    <div class="container">
        <!-- 用來接後端傳來的flash-message -->
        {% for message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ message[0] }}">
            <!-- 弄一個x的button，點擊之後讓訊息消失，可參考bootstrap說明 -->
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message[1]}}
        </div>
        {% endfor %}
        <!-- 讓繼承的頁面有地方可以再加入新的block內容 -->
        {% block page_content %}{% endblock page_content %}
    </div>
{% endblock content %}
    {% endwith %}
      <ul class="list-group" >
        <li class="list-group-item list-group-item-success" style="font-size: 25px;color:blue">上映中</li>
   
      </ul>
      
      <hr>
     
 <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
 
  <div class="carousel-inner">
    
    
  
    <div class="col-12 text-center"  > <!-- Second Col Starts -->
     <br>
     <div class="row" style="justify-content: center;">
      <div class="col-sm-4 mb-5">
        <img height="330" class="w-100 mb-2"
          src="https://www.themoviedb.org/t/p/w440_and_h660_face/p2hKCbHGoh5zNI8OKA2f5baXEwZ.jpg"
          alt="">
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">  失落謎城 </h5>
              <small class="text-muted">3 days ago</small>
            </div>
            <p class="mb-1">上映日期： 2022-04-08</p>
            <p class="mb-1">一位聰慧過人卻離群索居、個性孤僻的知名作家蘿莉塔賽吉（珊卓布拉克 飾）以創作故事發生在異國險境的暢銷愛情冒險小說為生，她筆下的男主人翁是根據一名高顏值的封面男模艾倫（查寧塔圖 飾）來塑造，他也一直以「戴許」這個角色自居。蘿莉坦與艾倫一起宣傳她的全新小說時，竟然被一名個性古怪的億萬富豪（丹尼爾雷徳克里夫 飾）綁架</p>
          </a>
        
        <!-- <button type="button" class="btn btn-outline-dark">失落謎城</button> -->
      </div>
      <div class="col-sm-4 mb-5">
        <img height="330" class="w-100 mb-2" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/PnLUIU4s7uRcYZ1vWKEhJ6yhsg.jpg"
          alt="">
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">劇場版 咒術迴戰  </h5>
              <small class="text-muted">3 days ago</small>
            </div>
            <p class="mb-1">上映日期： 2022-04-08</p>
            <p class="mb-1">自幼感情極好的乙骨憂太與祈本里香約好長大後要結婚，卻不料里香因死亡車禍化為強大怨靈依附在憂太身邊，為此所苦的憂太一心求死，之後在五條悟的帶領下進入咒術高專結識了新同學：禪院真希、狗卷棘與熊貓，他決定在這裡找到活下去的自信並解除里香的詛咒。意欲奪取里香強大怨靈力量的夏油傑宣布在12月24日舉行「百鬼夜行」，在新宿與京都釋出上千個詛咒。面臨如此重大浩劫，憂太能否阻止夏油的野心並解開里香的詛咒？</p>
          </a>
        <!-- <button type="button" class="btn btn-outline-dark"></button> -->
      </div>
      <div class="col-sm-4 mb-5">
        <img height="330" class="w-100 mb-2" src="https://movies.yahoo.com.tw/x/r/w420/i/o/production/movies/February2022/xgWirr2BHLeSioltXgqx-1280x1799.jpg"
          alt="">
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">  假面騎士劇場版-對決 超越新世代 </h5>
              <small class="text-muted">3 days ago</small>
            </div>
            <p class="mb-1">上映日期： 2022-04-08</p>
            <p class="mb-1">★假面騎士50周年紀念電影 即將上映！
              ★以2021年為舞台，橫越3個時代100年的宏大故事，現在將要開始！
              ★子承父志-初代假面騎士藤岡弘長子，藤岡真威人將演出假面騎士1號！
              
              跨越時代，在此集結！
              性格熱心又重視家人的「五十嵐一輝」，在家族經營的「幸福澡堂」撿到了一個裝有老舊票券的失物。他將失物拿去送還給失主「百瀨秀夫」的路上，突然遭遇強敵襲擊！一輝和寄宿在體內的惡魔「拜斯(VICE)」一起變身成「假面騎士REVICE」，和趕來助陣，並可以變身為「假面騎士聖刃(SABER)」的小說家「神山飛羽真」一起聯手抗敵，但還是陷入了苦戰。沒料到身分成謎的「假面騎士CENTURY」，不知為何從未來的2071年回到現在，並突然攻擊了他們，使得一輝跟飛羽真只能暫時撤退…。
              
               </p>
          </a>
 
      </div>
      <div class="col-sm-4 mb-5">
        <img height="330" class="w-100 mb-2"
          src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/khNVygolU0TxLIDWff5tQlAhZ23.jpg" alt="">
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"> K.G.F: Chapter 2 </h5>
              <small class="text-muted">3 days ago</small>
            </div>
            <p class="mb-1">上映日期： 2022-04-08</p>
            <p class="mb-1">The blood-soaked land of Kolar Gold Fields (KGF) has a new overlord now - Rocky, whose name strikes fear in the heart of his foes. His allies look up to Rocky as their Savior, the government sees him as a threat to law and order; enemies are clamoring for revenge and conspiring for his downfall. Bloodier battles and darker days await as Rocky continues on his quest for unchallenged supremacy. 
              
               </p>
          </a>
 
 
      </div>
      <div class="col-sm-4 mb-5">
        <img height="330" class="w-100 mb-2"
          src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/kOq1zyQxO3btBzS9GYYSdOFwD9c.jpg"
          alt="">
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Gabriel's Rapture: Part II </h5>
              <small class="text-muted">3 days ago</small>
            </div>
            <p class="mb-1">上映日期： 2022-03-24</p>
            <p class="mb-1">In the fifth installment of the Gabriel's Inferno series, Gabriel and Julia’s happiness is threatened by a conspiring student and academic politics. When Gabriel is confronted by the university administration, will he succumb to Dante's fate? Or will he fight to keep Julia, his Beatrice, forever?
              
               </p>
          </a>
 
      </div>
      <div class="col-sm-4 mb-5">
        <img height="330" class="w-100 mb-2" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/xVygjpclB5qhKa4HgCq4R8hH0b7.jpg" alt="">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">音速小子2</h5>
            <small class="text-muted">10 days ago</small>
          </div>
          <p class="mb-1">上映日期： 2022-04-08</p>
          <p class="mb-1">全世界最受歡迎的藍色刺蝟又回來了，他在《音速小子2》一片中將有一場升級的精采冒險。音速小子索尼克在綠丘鎮安頓下來之後，他就急著要證明自己有能力成為一名真正的英雄。當蛋頭博士帶著全新的搭檔納克魯斯，又回來尋找一塊力量強大足以毀滅人類文明的翡翠的時候，他就面對了另一個嚴峻的考驗。 這次索尼克和他自己的跟班塔爾斯攜手合作，一起踏上一場環遊世界的冒險旅程，希望能在那塊翡翠落入壞人手中之前先找到它
            
             </p>
        </a>
      
      </div>
      <div class="col-sm-4 mb-5">
        <img height="330" class="w-100 mb-2" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/2pCOmdHU3m1pkChn9V0jbSfkepq.jpg"
          alt="">
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">救命緝約</h5>
              <small class="text-muted">3 days ago</small>
            </div>
            <p class="mb-1">上映日期： 2022-04-01</p>
            <p class="mb-1">詹姆士(克里斯潘恩 飾)自特種部隊退伍後，為了養家糊口加入秘密軍事組織，簽下神秘契約後奉命至東歐執行任務。某次行動中，詹姆士發現自己成為地下組織追殺的目標，為了活命他不得不違背契約開始逃亡。究竟契約背後隱藏著什麼秘密？孤軍奮戰的他又該如何揪出幕後主使者，讓自己活著回家？
              
               </p>
          </a>
      
      </div>
      <div class="col-sm-4 mb-5">
        <img height="330" class="w-100 mb-2" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/4hqtjslVCaDVgblg7iCtGIy7exO.jpg" alt="">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Beast</h5>
            <small class="text-muted">5 days ago</small>
          </div>
          <p class="mb-1">上映日期： 2022-04-13</p>
          <p class="mb-1">A former RAW officer, who is among the hostages in a mall taken over by terrorists, has to foil their plans and prevent the government from releasing a dreaded terrorist, who he had helped put in prison at great personal cost.
            
             </p>
        </a>
 
      </div>
      <div class="col-sm-4 mb-5">
        <img height="330" class="w-100 mb-2" src=" https://www.themoviedb.org/t/p/w440_and_h660_face/clopZjImqBNbEbfQYBWGIpz3OXM.jpg" alt="">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">魔比斯</h5>
            <small class="text-muted">3 days ago</small>
          </div>
          <p class="mb-1">上映日期： 2022-04-01</p>
          <p class="mb-1">★索尼與漫威繼《猛毒》後再一野心暗黑爭議之作 ★《蜘蛛人》宇宙正式成立 全新神秘反派 吸血鬼「魔比斯」首推獨立電影 ★奧斯卡得主傑瑞德雷托領軍 金球獎影麥可基頓火力加持 再創漫威宇宙高峰 在漫威宇宙中最具爭議性且複雜的角色即將在大銀幕與全球觀眾見面！由奧斯卡得主傑瑞德雷托領軍，飾演一位患有罕見疾病的生物化學博士麥可
            
             </p>
        </a>
  
      </div>
   
    </div>
    </div> <!-- Second Col Ends -->
  </div> <!-- Row Ends -->
</div> <!-- Container Ends -->


    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
   
    <div class="bg-dark text-light">
      <footer class="pt-3 pt-md-5 bg-dark container">
          <div class="row">
              <div class="col-12 col-md">
                  <i class="fas fa-globe-americas fa-2x"></i>
                  <small class="d-block mb-3 text-muted">© 2017-2020</small>
              </div>
              <div class="col-6 col-md">
                  <h5>Features</h5>
                  <ul class="list-unstyled text-small">
                      <li><a class="text-muted" href="#">Cool stuff</a></li>
                      <li><a class="text-muted" href="#">Random feature</a></li>
                      <li><a class="text-muted" href="#">Team feature</a></li>
                  </ul>
              </div>
              <div class="col-6 col-md">
                  <h5>Contact</h5>
                  <ul class="list-unstyled text-small">
                      <li><a class="text-muted" href="#">Our Team</a></li>
                      <li><a class="text-muted" href="#">Contact Us</a></li>
                  </ul>
              </div>
              <div class="col-6 col-md">
                  <h5>About</h5>
                  <ul class="list-unstyled text-small">
                      <li><a class="text-muted" href="#">About Us</a></li>
                      <li><a class="text-muted" href="#">Locations</a></li>
                      <li><a class="text-muted" href="#">Privacy</a></li>
                      <li><a class="text-muted" href="#">Terms</a></li>
                  </ul>
              </div>
          </div>
      </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
